#listitem-placeholder {
  padding: 4px;
  color: grey;
}

#listitems {
  /*display: flex;*/
  /*flex-flow: column nowrap;*/
  /*flex-grow: 1; [> prevent contenteditable div from wrapping <]*/
  /*white-space: pre-wrap; [> this prevents multiple contiguous spaces only showing as one <]*/
}

.listitem {
  outline: none;
  padding: 0 4px;
  margin: 4px 0;
  min-height: 20px;
  /*white-space: pre-wrap; /* this F's with quill positioning */
}

/*.listitem:empty::before {*/
/*pointer-events: none;*/
/*content: 'Type something...';*/
/*color: lightgray;*/
/*}*/

/*.listitem:empty:focus::before {*/
/*content: none;*/
/*}*/

.listitem-metadata {
  margin-left: 1rem;
  padding: 0 2px;
}

.listitem-friend {
  background: #a9a9a9;
}

.listitem-config {
  color: white;
  background: green;
}

/* quill override */
.ql-editor {
  padding: 2px 4px;
}

/* for the placeholder */
.ql-editor.ql-blank::before {
  left: 5px;
  /*position: inherit;*/
}

.ql-container {
  font-size: 16px;
  font-family: Consolas, FreeMono, monospace;
}

.ql-container.ql-snow {
  border: none;
}
